.selector {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  background-color: burlywood;
  border-radius: 0.25em;
  font-size: clamp(0.7rem,2vmin,2.5rem);
  padding: 0.5em;
}

.player,
.player > * {
  border: none;
  display: flex;
  gap: 0.3rem;
}

.selector :where(input, select) {
  background-color: beige;
  border: none;
  border-radius: 0.25em;
  color: rgb(61, 54, 42);
  font-size: clamp(0.7rem,2vmin,2.5rem);
  min-width: 5ch;
}
