.App {
  align-items: center;
  background-color: hsl(146, 69%, 10%);
  display: flex;
  flex-direction: column;
  font-family: monospace;
  gap: 2rem;
  height: 100vh;
  width: 100vw;
  min-width: 320px;
  min-height: 320px;
  justify-content: center;
  text-align: center;
}